@import '../styles/scss-values/block-width';


.main-page{
    height: auto;

    &>*{
        margin: 30px 0 30px 0;
    }

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .block{
        width: $block-width;
        height: 104px;

        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}



@media screen and (max-width: 1270px) {
    .main-page{


        .block{
            width: $first-step-res;
        }
    }
}


@media screen and (max-width: 1050px) {
    .main-page{


        .block{
            width: 96vw;
        }
    }
}


@media screen and (max-width:800px) {
    .main-page{

        .block{
            height: 200px;
            flex-direction: column;
        }
    }
}