@import '../styles/scss-values/block-width';


.main-page{
    height: auto;

    &>*{
        margin: 30px 0 30px 0;
    }

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .block{
        width: $block-width;
        height: 104px;

        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}