@import '../../styles/scss-values/block-width';


.footer{
    width: $block-width;
    height: 305px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__logo{
        width: 182px;
        height: 100%;
    }

    .footer__descr{
        width: 758px;
        height: 100%;

        p{
            margin: 20px 0;

            font-size: 20px;
            font-weight: 300;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    .footer__info-panel{
        width: 145px;
        height: 100%;
    }
}



@media screen and (max-width: 1270px) {
    .footer{
        width: $first-step-res;



        .footer__descr{
            width: 600px;
        }
    }
}


@media screen and (max-width: 1050px) {
    .footer{
        width: 96vw;
    }
}


@media screen and (max-width: 800px) {
    .footer{



        .footer__logo{
            display: none;
        }
    }
}