@import '../../styles/scss-values/block-width';

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;600&display=swap');

// font-family: 'Golos Text', sans-serif;
// font-weight: 500;

.rec-box{
    width: $block-width;
    height: 600px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;

    .item-1{
        width: 499px;
        height: 600px;

        background-color: aqua;
    }

    .rec__item{
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 17px;
    }
}